/*variáveis para o modo noturno*/

:root {
    --body-bg: darkgray;
    --box-color: black;
    --img-invert: none;
    --img-noClick: brightness(0%);
    --img-click: brightness(1000%);
    --img-brilho: brightness();
}

.dark-mode:root {
    --body-bg: #252525;
    --box-color: #a5a3a3;
    --img-invert: invert();
    --img-noClick: brightness(1000%);
    --img-click: brightness(200%);
    --img-brilho: brightness(70%);
}

/*inicio da página*/

body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-color: var(--body-bg);
}

.container {
    width: 55vh;
    height: 70vh;
    margin: 5vh;
    background-color: #363636;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    border-radius: 3%;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 10px 15px var(--box-color);
}

.alinhamentoVideo {
    justify-content: center;
    display: flex;
}

.conteudo {
    justify-content: center;
    display: flex;
}

.foto {
    width: 20vh;
    display: flex;
    text-align: center;
    border-radius: 50%;
    filter: var(--img-brilho);
}

.nome {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    width: 70%;
}

.redeSocial {
    display: flex;
}

a {
    padding: 0 3vh;
}

.facebook {
    width: 7vh;
    transition: .5s;
}

.facebook:hover {
    width: 9vh;
}

.linkedin {
    width: 7vh;
    transition: .5s;
}

.linkedin:hover {
    width: 9vh;
}

.github {
    width: 7vh;
    transition: .5s;
}

.github:hover {
    width: 9vh;
}

.frente {
    /* position: absolute; */
    text-align: center;
    transform: rotatey(0deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.fundo {
    text-align: center;
    transform: rotatey(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.nome:hover .frente {
    transform: rotatey(-180deg);
    cursor: pointer;
}

.nome:hover .fundo {
    transform: rotatey(0deg);
    cursor: pointer;
}

@media (max-width: 1024px) {
    .container {
        width: 70vh;
        height: 90vh;
        margin: 5vh;
    }

    .frente {
        position: inherit;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .container {
        width: 70vh;
        height: 90vh;
        margin: 5vh;
    }

    .frente {
        position: inherit;
        text-align: center;
    }
}

@media (max-width: 360px) {
    .container {
        width: 70vh;
        height: 90vh;
        margin: 5vh;
    }

    /* .fundo {
        display: none;
    } */

    .frente {
        position: inherit;
        text-align: center;
    }
}

.video {
    margin: 10vh 0 0 0;
    padding: 2vh 5vh;
    background-color: #363636;
    display: flex;
    border-radius: 3%;
    box-shadow: 5px 10px 15px;
    text-align: center;
}

/* parte do mundo da musica */

.video img {
    border-radius: 2px;
}

/* parte do toolbar */

.hamburguer {
    filter: var(--img-noClick);
    transition: .5s;
}

#check {
    display: none;
}

#icone {
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}

.toolbar {
    background-color: #363636;
    height: 100%;
    width: 200px;
    position: absolute;
    transition: all .3s linear;
    left: -300px;
}

nav {
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}

.link {
    background-color: #494950;
    padding: 20px;
    font-family: 'Arial';
    font-size: 12pt;
    transition: all .3s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
    opacity: 1;
}

.link:hover {
    background-color: #a3b9c5;
    color: rgb(79, 20, 94);
    text-shadow: 2px 2px 4px #272727;
    font-weight: bold;
}

#check:checked ~ .toolbar {
    transform: translateX(300px);
}

#check:checked ~ .toolbar nav a .link {
    opacity: 100%;
}

#check:checked ~ label img {
    filter: var(--img-click) ;
    transition: 1s;
}

/* parte do modo noturno */

.noturno {
    position: absolute;
    right: 20px;
    top: 10px;
    transition: all 1s;
}

#switch2 {
    display: none;
}

.lua {
    width: 50px;
    filter: var(--img-invert);
}
